<form>
  <div class="form-group">
    <label for="picturePathSearchFor">
      {{localize "QJPC.settings.picturePathSearchFor.name"}}
    </label>
    <input type="text" id="picturePathSearchFor" name="picturePathSearchFor" value="{{picturePathSearchFor}}">
    <p class="notes">{{localize "QJPC.settings.picturePathSearchFor.hint"}}</p>
  </div>

  <div class="form-group">
    <label for="picturePathReplaceWith">
      {{localize "QJPC.settings.picturePathReplaceWith.name"}}
    </label>
    <input type="text" id="picturePathReplaceWith" name="picturePathReplaceWith" value="{{picturePathReplaceWith}}">
    <p class="notes">{{localize "QJPC.settings.picturePathReplaceWith.hint"}}</p>
  </div>

  <div class="form-buttons">
    <button type="submit" class="button">{{localize "Save Changes"}}</button>
    <button type="button" class="button cancel" data-action="cancel">{{localize "Cancel"}}</button>
  </div>
</form>