.qjpc-settings #htmlHeader {
  min-height: 50%;
  width: 100%;
  overflow: auto;
  resize: both;
}


.qjpc-settings #htmlStyleTag {
  min-height: 50%;
  width: 100%;
  overflow: auto;
  resize: both;
}

.qjpc-settings .form-buttons {
  display: flex;
  /* Aktiviert Flexbox, wodurch Elemente standardmäßig nebeneinander stehen */
  gap: 10px;
  /* Erzeugt einen flexiblen Abstand zwischen den Buttons */
  justify-content: flex-end;
  /* Richtet die Buttons linksbündig aus (Nutze 'flex-end' für rechtsbündig) */
}

/* Optional: Falls die Buttons die gleiche Breite haben sollen */
.qjpc-settings .form-buttons .button {
  flex: 1;
  /* Lässt beide Buttons gleichmäßig wachsen, um den Platz auszufüllen */
  max-width: 150px;
  /* Begrenzt die maximale Breite, damit sie nicht riesig werden */
}

.qjpc-settings #htmlFooter {
  min-height: 50%;
  width: 100%;
  overflow: auto;
  resize: both;
}

.qjpc-print-modal .print-button {
  display: flex;
  /* Aktiviert Flexbox, wodurch Elemente standardmäßig nebeneinander stehen */
  gap: 10px;
  /* Erzeugt einen flexiblen Abstand zwischen den Buttons */
  justify-content: flex-end;
  /* Richtet die Buttons linksbündig aus (Nutze 'flex-end' für rechtsbündig) */
  background: red,

}